/* --- Global Variables and Base Styles --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #b74b4b;
    --background-color: #000;
    --text-color: #fff;
    --secondary-bg-color: #161616;
    --accent-color: #ecf1ef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

span {
    color: var(--primary-color);
}

section {
    min-height: 100vh;
    padding: 5rem 9%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading {
    font-size: 7rem;
    text-align: center;
    margin-bottom: 5rem;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}


.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    flex-direction: row;
    text-align: left;
    padding-top: 10rem;
    background-color: var(--background-color);
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--accent-color);
}

.home-content p {
    font-size: 1.6rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    color: #ccc;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    width: 32vw;
    max-width: 400px;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--primary-color);
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    transform: scale(1.05);
}


.skills-hobbies {
 
    margin-top: 2rem;
    width: 100%;
    max-width: 800px;
}

.skills-hobbies h2 {
    font-size: 4rem;
    color: var(--accent-color);
    margin-bottom: 2rem;
}

.skills-hobbies ul {
    list-style-type: disc;
    padding-left: 2rem;
    text-align: left;
}

.skills-hobbies li {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #f5f3f3;
}


.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid var(--primary-color);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: var(--primary-color);
}

.social-icons a:hover {
    color: var(--background-color);
    transform: scale(1.3) translateY(-5px);
    background-color: var(--primary-color);
    box-shadow: 0 0 25px var(--primary-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--background-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--primary-color);
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid var(--primary-color);
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.03);
    background-color: var(--primary-color);
    color: var(--background-color);
    box-shadow: 0 0 25px var(--primary-color);
}

@media (max-width: 995px) {
    nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--primary-color);
        border-bottom: 3px solid var(--primary-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem;
        background-color: var(--secondary-bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        padding: 1rem;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--primary-color);
    }
}

nav.active {
    display: block;
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
        text-align: center;
        gap: 4rem;
    }

    .home-img img {
        width: 60vw;
    }

    .heading {
        font-size: 5rem;
    }
}

@media (max-width: 480px) {
    .home .home-content h1 {
        font-size: 4rem;
    }

    .home-content h3 {
        font-size: 3rem;
    }

    .social-icons a {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 1.8rem;
        margin: 2rem 1rem 2rem 0;
    }

    .btn {
        padding: 0.8rem 2rem;
        font-size: 1.4rem;
    }

    .heading {
        font-size: 4rem;
    }
}
.skills-hobbies p strong {
    color: var(--primary-color);
}